version: '3.6'

services:
  simpletvplaylist:
    image: simpletvplaylist
    container_name: simpletvplaylist
    ports:
      - 8075:8000

    build: .
    volumes:
      - /etc/localtime:/etc/localtime
      - ./simpleTV-backup:/app/python/volumes/backup
      - ./simpleTV-runtime:/app/python/volumes/runtime
    restart: always
    environment:
      - TZ=Europe/Berlin
